body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #dfe9f3, #ffffff);
}

nav {
  background: rgba(252, 167, 193, 0.8);
  padding: 15px;
  text-align: center;
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 10px rgba(19, 2, 2, 0.1);
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #cb0101;
  font-weight: 600;
}

nav a.active {
  color: #000000;
}

.container {
  padding: 30px;
}

.profile-card {
  max-width: 600px;
  margin: auto;
  background: rgba(237, 176, 195, 0.8);
  padding: 25px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 8px 25px rgba(201, 96, 96, 0.1);
}

.profile-img {
  display: block;
  margin: 0 auto 15px auto;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;

  opacity: 1 !important;
  filter: none !important;

  
  border: 4px solid #cb0101;
  box-shadow: 0 0 20px rgba(142, 13, 88, 0.6);
}

.profile-img:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

h1 {
  margin-bottom: 10px;
}

h2 {
  color: #cb0101;
  margin-top: 20px;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 20px;
  gap: 25px;
}

.project-card {
  background: rgba(249, 227, 242, 0.9);  /* light card */
  border-radius: 20px;
  padding: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(203, 1, 1, 0.2);
}

.project-card a {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 15px;
  background: linear-gradient(45deg, #af4c5c, #f1aeec);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  text-decoration: none;
}

ul {
  text-align: left;
  padding-left: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
  }
}